@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Poppins:100,200,300,400,500,600,700|Lobster:100,200,300,400,500,600,700');


/*----------BODY----------*/

body {

    background-color: #f4f4f4;
    margin-bottom: 0;
    
}



/*----------HEADER----------*/

header {
   background: #35424a;
   color: #ffffff;
   padding-top: 25px;
   border-bottom: solid;
   border-bottom-width: 4px;
   border-color: #FF851B;
}

header ul {
    padding: 0;
    margin: 0;
    
}

header a {
    font-size: 15px;
    color: #ffffff;
}    

header a:hover {
    text-decoration: none;
    color: #ff851b;
    
}
 
header li {
  display: inline;
  padding: 20px 20px 20px 20px;
  font-family: "Poppins", sans-serif;
 
}

.logo {
    float: left;
    color: #FF851B;
    font-family: "Lobster", sans-serif;
    margin-bottom: 5px;
}

.logo_2 {
    text-align: center;
    color: #FF851B;
    font-family: "Lobster", sans-serif;
    margin-top: 15px;
}

h1 {
    margin: 0;
    padding-bottom: 15px;
}

.home-button {
   font: #FF851B;
}

header nav {
  float: right;  
}

.bottom-line {
    background-color: #35424a;
    height: 90px;
    border-top-color: #FF851B;
    border-top-width: 5px;
    border-top-style: solid;
}


.responsive {
  width: 100%;
  height: 300px;
  
}





/*----------CONTACT PAGE----------*/

.enquiry {
  text-align: center;
  font-family: "Lobster", sans-serif;
  margin-top: 25px;
}

button[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
    
}
   




/*----------MUSIC PAGE----------*/

.music {
    text-align: center;
    font-family: "Lobster", sans-serif;
    margin-top: 25px;
}


.band-info {
    text-align: center; 
    font-family: "Lobster", sans-serif;
    margin-top: 25px;
}

.main-text {
   margin: 10px 10px 30px 10px;
}


.title {
    text-align: center;
    font-family: "Poppins", sans-serif;
}



audio {
    margin-bottom: 50px;
    border-color: #FF851B;
    border-bottom-width: 8px;
    border-bottom-style: double;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    border-top-color: #35424a;
    border-top-style: double;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    border-top-width: 8px;
}

.videos {
  text-align: center;
    font-family: "Lobster", sans-serif;
    margin-top: 25px;
    
}

video {
    margin-bottom: 80px;
    border-color: #FF851B;
    border-bottom-width: 12px;
    border-bottom-style: double;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-color: #35424a;
    border-top-style: double;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-top-width: 12px;
}

iframe {
    margin-bottom: 80px;
     border-color: #FF851B;
    border-bottom-width: 12px;
    border-bottom-style: double;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-color: #35424a;
    border-top-style: double;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-top-width: 12px;
}


/*----------FPHOTO PAGE----------*/
.img-rounded {
    border:5px ridge #FF851B;
    display: block;
  margin: 55px auto 55px auto;
  box-shadow: 10px 10px grey;
}







/*----------FOOTER----------*/

footer {
    background: #35424a;
    min-height: 95px;
    border-top-color: #FF851B;
    border-top-width: 5px;
    border-top-style: solid;
    border-bottom-color: #FF851B;
    border-bottom-width: 5px;
    border-bottom-style: solid;

}

      footer li {
      margin-left: 5px;
      margin-top:30px;  
      width: 35px;
      margin-bottom: 15px;
      transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  height: 32px;
  width: 32px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
   height: 32px;
  width: 32px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
}

.fa-instagram {
  background: #125688;
  color: white;
   height: 32px;
  width: 32px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
   height: 32px;
  width: 32px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
}

.fa-youtube {
  background: #bb0000;
  color: white;
   height: 32px;
  width: 32px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
}

/*------MEDIA QUERIES---------*/


@media screen and (max-width: 992px) {
.main-text1 {
    padding-left: 25px;
 }
}



@media screen and (max-width: 992px) {
.logo {
    text-align: center;
    
 }
}

@media screen and (max-width: 992px) {
nav a {
 text-align: center;
    
 }
}


