@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Poppins:100,200,300,400,500,600,700|Lobster:100,200,300,400,500,600,700');

/* BODY */
body {
    font-family: "Roboto", "Poppins", sans-serif;
    background-color: #f4f4f4;
}

/* HEADER */
header {
   background: #35424a;
   color: #ffffff;
   min-height: 35px;
   padding-top: 25px;
   border-bottom: solid;
   border-bottom-width: 4px;
   border-color: #FF851B;
}

header ul {
    padding: 0;
    margin: 0;
    
}

header a {
    font-size: 17px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}    

header a:hover {
    text-decoration: none;
    color: #ff851b;
}
 
    


header li {
    
    padding: 0 20px 0 20px;
    display: inline;
}

.logo {
    float: left;
    color: #FF851B;
    font-family: "Lobster", sans-serif;
    margin-bottom: 5px;
}

.logo h1 {
    margin: 0;
    padding-bottom: 15px;
}

.home-button {
   font: #FF851B;
}

header nav {
  float: right;  
}

/* MAIN SECTION */

.main-photo {
    background-image: url("../images/monkees.jpg");
    min-height: 400px;
    
    width: 100%;
}

/* ASIDE */

.subscribe {
    background-color: #35424a;
    color: #ffffff;
    padding: 13px;
}

.subscribe h1 {
    float: left;
}



